# Powertop systemd service
# /etc/systemd/system/pwrtp.service

[Unit]
Description=Powertop Autostart Script

[Service]
Type=idle
Environment="TERM=dumb"
ExecStart=/usr/bin/pwrtp.sh

[Install]
WantedBy=multi-user.target

